[include]
	path = ~/.gitconfig.local
[color]
	ui = auto
[core]
	excludesfile = ~/.dotfiles/.gitignore
	editor = vim -c \"set fenc=utf-8\"
[user]
	email = noa.kobayashi@seiko-sol.co.jp
	name = Noah Kobayashi
