snippet wp-style
    /**
     * Theme Name: ${1}
     *
     * Theme URI: ${2}
     * Author: ${3}
     * Author URI: 
     * Version: 0.1
     * License: 
     * License URI: 
     * Text Domain: ${4}
    */

snippet cf
abbr    clearfix
alias   c clearfix
    :after {clear: both; content: ""; display: block; font-size: 0; height: 0;}
