snippet wp-style
    /**
     * Theme Name: ${1}
     *
     * Theme URI: ${2}
     * Author: ${3}
     * Author URI: 
     * Version: 0.1
     * License: 
     * License URI: 
     * Text Domain: ${4}
    */
