snippet /**
/**
 * バウンディングボックスを表示
 *
 * 画像の縮尺に合わせてサイズと位置を計算して表示します。
 *
 * @param  {Number} imageNum 画像のURL
 * @param  {Object} field 
 *   {text: '20,000円', image: 0, boundingBox: Array(4)}
 * @return {JSX} バウンディングボックスのJSX
 */
endsnippet
